<div  th:fragment="curse" class="row div-1 " >
  <div class="mask" >
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
         <h1 class="mb-3 ">AVAILABLE COURSES</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-4 ">
    <img class="rounded-circle mx-xl-5" src="../static/img/JAVA.png" th:src="@{/img/JAVA.png}" alt="Generic placeholder image" width="140" height="140">
    <h2 class="text-white "> JAVA BACKEND</h2>
    <p class="text-white">Good morning to everyone present here today. </p>
    <p>
      <a class="btn btn-outline-light btn-lg m-lg-2" href="http://itschool.megacom.kg/online-javadev" role="button">online</a>
      <a class="btn btn-outline-light btn-lg m-lg-2" href="http://itschool.megacom.kg/offline-javadev" role="button">offline</a>
      <a class="btn btn-outline-light btn-lg m-lg-2" href="http://itschool.megacom.kg/bootcamp-javadev" role="button">bootcamp</a>
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle mx-xl-5 " src="../static/img/python-logo.jpg" th:src="@{/img/python-logo.jpg}" alt="Generic placeholder image" width="140" height="140">
    <h2 class="text-white ">PYTHON BACKEND</h2>
    <p class="text-white">Good morning to everyone present here today. </p>
    <p>
      <a class="btn btn-outline-light btn-lg m-lg-2" href="http://itschool.megacom.kg/online-python" role="button">online</a>
      <a class="btn btn-outline-light btn-lg m-lg-2" href="http://itschool.megacom.kg/offline-python" role="button">offline</a>
      <a class="btn btn-outline-light btn-lg m-lg-2" href="http://itschool.megacom.kg/bootcamp-python" role="button">bootcamp</a>
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle mx-xl-5 " src="../static/img/JavaScript-1.jpg" th:src="@{/img/JavaScript-1.jpg}" alt="Generic placeholder image" width="140" height="140">
    <h2 class="text-white ">JAVASCRIPT FRONTEND</h2>
    <p class="text-white">Good morning to everyone present here today. </p>
    <p>
      <a class="btn btn-outline-light btn-lg m-lg-2" href="http://itschool.megacom.kg/online-javascript" role="button">online</a>
      <a class="btn btn-outline-light btn-lg m-lg-2" href="http://itschool.megacom.kg/offline-javascript" role="button">offline</a>
      <a class="btn btn-outline-light btn-lg m-lg-2" href="http://itschool.megacom.kg/bootcamp-javascript" role="button">bootcamp</a>
    </p>
  </div>
</div>