
<div  th:fragment="teacher" class="row" >
  <div class="mask" >
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 ">OUR MENTORS</h1>
      </div>
    </div>
  </div>

  <div class="col-lg-4 mt-10">
    <img class="rounded-circle" src="../static/img/erdogan.jpg" th:src="@{/img/erdogan.jpg}" alt="Generic placeholder image" width="140" height="140">
    <h2 class="text-white">Mentor, java beck end</h2>
    <p class="text-white"> Zhuzupbekov Adilet Kubanychbekvich was born in 1993-07-02. Zero month of experience in java.
    But happy to help you with any question. Have good problem-solving skills)
    </p>
    <p><a class="btn btn-outline-light btn-lg" href="https://www.instagram.com/justice_kg/" role="button"
    >instagram</a
    ></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="../static/img/Joe.jpg" th:src="@{/img/Joe.jpg}" alt="Generic placeholder image" width="140" height="140">
    <h2 class="text-white ">Mentor, Team Lead</h2>
    <p class="text-white"> Dolon Askarbekov. Head of IT department in Megacom. Founder of IT school Megacom. Lead mentor
      in java backend courses.
    </p>
    <p><a class="btn btn-outline-light btn-lg" href="https://www.instagram.com/dolon_askarbekov/" role="button"
    >instagram</a
    ></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="../static/img/putin.jpg" th:src="@{/img/putin.jpg}" alt="Generic placeholder image" width="140" height="140">
    <h2 class="text-white">Mentor, supporter</h2>
    <p class="text-white">Orusov Orus Orusovich. Da da da this just simple joke text to fill this area with text. For sure nobady gonna read  it.
    But if happy enough to see this text. Just know you are the  best.
    </p>
    <p>
      <a class="btn btn-outline-light btn-lg" href="https://www.instagram.com/vladimir.putin_offical/" role="button"
      >instagram</a
      ></p>
  </div>
</div>

